.grid-container-1 {
  display: grid;
  height: 40vh;
  width: 100%;
  grid-template-columns: 200px 0.4fr auto;
  grid-template-rows: 50% 100px auto;
  .item-1 {
    background-color: #EF5350;
  }
  .item-2 {
    background-color: #4CAF50;
  }
  .item-3 {
    background-color: #42A5F5;
  }
  .item-4 {
    background-color: #FFC107;
  }
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
