.grid-container-3 {
  display: grid;
  height: 40vh;
  width: 100%;
  grid-template-columns: 200px 0.4fr  auto;
  grid-template-rows: 50% 100px auto;
  grid-template-areas: 'header header header header'
  'sidebar . main main'
  'footer footer footer footer';

  .item-3-1 {
    background-color: #EF5350;
    grid-area: header;
  }
  .item-3-2 {
    background-color: #4CAF50;
    grid-area: main;
  }
  .item-3-3 {
    background-color: #42A5F5;
    grid-area: sidebar; 
  }
  .item-3-4 {
    background-color: #FFC107;
    grid-area: footer;
  }
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
